
.checkoutlogo{
  font-family: graceCo;
  text-align:center;
}
.checkout{
margin-top: 2rem;
align-content:center;
justify-content: center;
display:grid;
grid-template-columns: 2fr 1fr;


}

.part1{
  border: 1px solid;
  padding-left:2rem;
  padding-right:2rem;
  margin-bottom:1rem;
}
.payment{
  padding-left:3rem;
  padding-right: 3rem;


}
.summary{
  background-color: #F6F6F6;
  /* border: 1px solid; */

  padding-left:1rem;
  padding-right:1rem;
  padding-top: 1rem;
}

.productsum{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
@media screen and (max-width:80rem){
  .productsum{
    grid-template-columns:1fr 1fr;
  }
}

@media screen and (max-width:40rem){
  .productsum{
    grid-template-columns:1fr 1fr;
  }
}
.side2{
  display:block;
  /* background-color: pink; */
  flex:30%;
  border: 1px solid;
  padding:1rem;

}


.subtotal{
  float: right;
}

.total{
  font-weight: bold;
  padding-top: 1em;
  font-size: 18px;
  border-top: 1px solid;
  text-align: right;
}

.summary{
  align-items:flex-end;
}

.summary-info{
padding-top:2rem;
}

@media screen and (max-width:40rem){
  .checkout{
  grid-template-columns: 1fr;

  }
}

.areaCode{
  display:flex;

}

.half1{
  margin-right:0.5rem;
}

.half2{
  margin-left:0.5rem;
}

.confirm{
  margin-top:2rem;
  display:flex;
  justify-content: flex-end;
}

.cartText[type=text]{

  background-color: transparent;
  box-sizing: border-box;
  outline:0;
  border-width: 0 0 2px;
  border-style:solid;
  border-bottom: 1px solid;
}

.cartText[type=text]:hover{
  border-width: 0 0 2.2px;
}

.check-heading{
  margin-bottom:3rem;
  border-bottom:1px solid;

}

.checkimg{
  position:relative;
}
.heading{
  font-family: graceCo;
}

.descript{
  position:absolute;
  top: 9px;
  left:10px;
}
