/* .listing{
display:grid;
grid-template-columns:1fr 1fr 1fr;
align-items: center;
grid-column-gap: 1.5rem;
grid-row-gap: 2rem;
width: 75%;
padding-left:2rem;
padding-right:2rem;
margin-top:2rem; */


.checkout{
align-content:center;
justify-content: center;
display:grid;
grid-template-columns: 2fr 2fr;
/* grid-column-gap: 1.5rem; */
/* width:85%; */

}

.payment{
  padding-left:5rem;
  padding-right: 5rem;
  /* border: 1px solid; */

}
.summary{
  background-color: #F6F6F6;
  /* border: 1px solid; */

  padding-left:1rem;
  padding-right:1rem;
  padding-top: 1rem;
}

.productsum{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
@media screen and (max-width:80rem){
  .productsum{
    grid-template-columns:1fr 1fr;
  }
}

@media screen and (max-width:40rem){
  .productsum{
    grid-template-columns:1fr 1fr;
  }
}
.side2{
  display:block;
  /* background-color: pink; */
  flex:30%;
  border: 1px solid;
  padding:1rem;

}


.subtotal{
  float: right;
}

.total{
  font-weight: bold;
  padding-top: 1em;
  font-size: 18px;
  border-top: 1px solid;
  text-align: right;
}

.summary{
  align-items:flex-end;
}

.summary-info{
padding-top:2rem;
}

@media screen and (max-width:40rem){
  .checkout{
  grid-template-columns: 1fr;

  }
}
/* @media screen and (max-width:600px{
  .productsum{
    flex-grow:2;
  }
  } */

/* @media screen and (max-width:300px){
  .container{
    flex-wrap: wrap;
  }
  .checkout{
    width:100%;
    flex-grow:1;

  }
} */

/* @media screen and (max-width:600px){
  .payment_form{
    flex-wrap:wrap;
  }

  .payment{
    flex-grow:1;
  }


} */



.areaCode{
  display:flex;

}

.half1{
  margin-right:0.5rem;
}

.half2{
  margin-left:0.5rem;
}

.confirm{
  margin-top:2rem;
  display:flex;
  justify-content: flex-end;
}



.cartText[type=text]{

  background-color: transparent;
  box-sizing: border-box;
  outline:0;
  border-width: 0 0 2px;
  border-style:solid;
  border-bottom: 1px solid;
}

.cartText[type=text]:hover{
  border-width: 0 0 2.2px;
}
