/* *:not(#header)
{
  padding:0rem;
  margin:0rem;
} */

#homeimage{
  padding-top: 1rem;
  width: 100%;
}

#textandimg{
position: relative;
 text-align: center;
}

#hometext{
  color:#343434;
  font-family:GraceCo;
  font-size: 50px;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
}
