/* *:not(#header)
{
  padding:0rem;
  margin:0rem;
} */

#homeimage{
  padding-top: 1rem;
  width: 100%;
}

#textandimg{
  position: relative;
}

#hometext{
  position: absolute;
  top: 45%;
  left: 42%;
  color:#343434;
  font-family:GraceCo;
  font-size: 500%;
}

#listing{
  padding-top:10rem;
}

#newreleasesection{

  font-size: 5px;
  display: flex;
  justify-content: center;
}
