#mainreviewsection{
  border-top: 1px black solid;
  margin: 5rem;
  margin-top:0rem;
}

#review{
  padding:5rem;
  width:50%;
}

#name{
width: 20%;
}

@media screen and (max-width:600px){
  #review{
    width: 100%;
  }

  #name{
    width:100%;
  }
}
